.container {
  display: grid;
  place-items: center;
  height: 100%;
  padding-inline: 20px;
}

.widget {
  display: grid;
  gap: 1.5ch;
}

.widget img {
  display: none;
}

.canvas {
  width: 100%;
  max-width: 600px;
  aspect-ratio: 1;
  border-radius: 1.5em;
  box-shadow: rgba(0 0 0 / 0.3) 0 12px 1em;
}

.download {
  padding-block: 16px;
  padding-inline: 8px;
  font-size: 1rem;
  color: #000;
  border: none;
  border-radius: 0.7em;
  background: #fff;
}

.download:hover {
  background-color: rgba(0, 0, 0, 0.1);
}

.title {
  text-align: center;
  /* font-style: italic; */
  font-weight: 700;
  font-size: 2rem;
  color: #fff;
}
